-r requirements.txt

# Testing
pytest==8.0.0
pytest-django==4.7.0
pytest-cov==4.1.0
coverage==7.4.1

# Linting
flake8==7.0.0
black==24.1.1
isort==5.13.2
mypy==1.8.0

# Type checking
types-requests==2.31.0.20240125
django-stubs==4.2.7

# Documentation
sphinx==7.2.6
sphinx-rtd-theme==2.0.0

# Development tools
pre-commit==3.6.0
ipython==8.20.0
django-debug-toolbar==4.2.0

# Security
bandit==1.7.7 